<h1>Edit <%= @character.name %></h1>

<%= render 'form' %>

<%= link_to "Destroy", [@trait.character, @trait], method: :delete, data: { confirm: 'Are you sure?' } %>

<p>
<%= link_to "Back", novel_path(@character.novel_id) %>