<h1>Edit <%= @tag.name %></h1>

<%= render 'form' %>

<%= link_to "Destroy", [@trait.tag, @trait], method: :delete, data: { confirm: 'Are you sure?' } %>

<p>
<%= link_to "Back", novel_path(@tag.novel_id) %>