<h1>Edit <%= @scene.name %></h1>

<%= render 'form' %>

<%= link_to "Destroy", [@scene.novel, @scene], method: :delete, data: { confirm: 'Are you sure?' } %>

<p>
<%= link_to "Back", novel_path(@novel.id) %>