<h1>Novels</h1>

<table>
  <tr>
    <th>Title</th>
  </tr>
  
  <% @novels.each do |novel| %>
    <tr>
      <td><%= link_to novel.title, novel %></td>
    </tr>
  <% end %>
</table>

<%= link_to "New Novel", new_novel_path %>