<div class="container-fluid">
  <table class="table">
    <caption><h1>Novels</h1></caption>
    <tbody>
      <% @novels.each do |novel| %>
        <tr>
          <td><%= link_to novel.title, novel %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <p><%= link_to "New Novel", new_novel_path %></p>
</div>